/*== Bases ==*/
/* @import url('https://fonts.googleapis.com/css2?family=Sarabun&family=Signika+Negative&display=swap'); */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}


html{
    scroll-behavior: smooth;
}

:root{
    --title-font: 'Signika Negative', sans-serif;
    --text-font: 'Sarabun', sans-serif;
    --main-title-size: 4rem;
    --title-size: calc(var(--main-title-size) - 2rem);
    --subtitle-size: calc(var(--main-title-size) / 2);
    --text-size: calc(var(--main-title-size) * 0.30);
}

.flex{
    display: flex;
}

.grid{
    display: grid
}

ul li{
    list-style-type: none;
}

header h2{
    text-align: center;
    font-size: var(--title-size);
    font-family: var(--title-font);
}


/*--Colors--*/

/*== Navbar ==*/
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.4);
}

#navbar ul{
    justify-content: flex-end;
}

#navbar a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: var(--subtitle-size);
    font-family: var(--title-font);
    padding: 2rem;
}

#navbar a:hover{
    position: relative;
    background-color: white;
    color: black;
}

/*== Welcome ==*/
#welcome-section{
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#main-title{
    font-size: var(--main-title-size);
    font-family: var(--title-font);
}

#main-subtitle{
    font-size: var(--subtitle-size);
    font-family: var(--text-font);
}

/*== Projects ==*/
.cards{
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px;
}

.card{
    padding: 10px;
    border: 1px solid black;
}

img{
    width: 100%;
    height: auto;
}

.caption{
    font-size: var(--text-size);
    font-family: var(--text-font);
}

/*== Contact ==*/
#contact ul{
    justify-content: space-evenly;
}

#contact ul li{
    transition: 0.2s;
    padding: 0.7rem;
}

#contact ul li:hover{
    transform: translateY(-8%);
}

#contact ul li a{
    text-decoration: none;
    font-size: calc(var(--text-size) * 1.2);
    font-family: var(--text-font);
    color: black;
}



/*== Footer ==*/

footer{
    background: black;
    padding: 0.7rem;

}

footer p{
    color: white;
    text-align: end;
    font-family: var(--text-font);
}

/*== Media ==*/
@media(min-width: 768px){
/*== Bases ==*/
    :root{
        --main-title-size: 6rem;
    }



    /*== Projects ==*/
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}